:root {
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
  --coral-red: hsl(8, 100%, 65%);
}

/* General Reset */
* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  width: 100%;
  overflow-x: hidden;
}

.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  align-items: center;
  text-align: center;
}

.hero--image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.hero--text-container {
  padding: 0 24px;
  margin-top: 20px;
}

.hero--header {
  font-size: 2.5em;
  font-weight: 700;
  color: var(--dark-slate-grey);
  margin-top: 40px;
}

.hero--header,
.hero--text {
  text-align: left;
}

.hero--text {
  font-size: 1em;
  font-weight: 400;
  line-height: 150%;
  color: var(--dark-slate-grey);
  margin: 0;
}

/* Features Section */
.features-list-container {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin-top: 2rem;
  padding: 0 1.5rem;
}

.feature-item {
  display: flex;
  align-items: center;
}

.feature--icon {
  width: 21px;
  height: auto;
}

.feature--description {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  color: var(--dark-slate-grey);
  padding-left: 0.625rem;
  margin: 0;
}

/* NewsletterForm Section */
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 0 1.5rem;
}

label {
  font-size: 0.75em;
  font-weight: 700;
  color: var(--dark-slate-grey);
  margin: 41px 0 8px 0;
  display: block;
}

input {
  border-radius: 8px;
  border: 1px solid var(--grey);
  padding: 12px;
  color: var(--grey);
  font-size: 1em;
  line-height: 150%;
  width: 100%;
  max-width: 330px;
}

button {
  background-color: var(--dark-slate-grey);
  color: var(--white);
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 1em;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  cursor: pointer;
  margin: 24px 24px 0 0;
  width: 100%;
  max-width: 330px;
}

.input-field-container {
  position: relative;
}

/* Validation Styles */
.input-field.invalid-input {
  color: var(--coral-red);
  border: 1px solid var(--coral-red);
  background: rgba(255, 97, 85, 0.15);
}

.error-message {
  color: var(--coral-red);
  text-align: right;
  font-size: 12px;
  font-weight: 700;
  line-height: 150%;
  position: absolute;
  top: 0;
  right: 0;
  margin: -23px 4px 8px 8px;
}

/* Success Section */
.success-container {
  padding: 149px 24px 40px 24px;
}

.success-header {
  color: var(--dark-slate-grey);
  font-size: 2.5em;
  font-weight: 700;
  line-height: 100%;
}

.success-message {
  color: var(--dark-slate-grey);
  line-height: 150%;
}

.success-btn {
  background-color: var(--dark-slate-grey);
  color: var(--white);
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  margin: 0.625rem 0 0 0;
  width: 100%;
}

/* Mobile Styles */
@media screen and (max-width: 767px) {
  .desktop-image {
    display: none;
  }
}

/* Tablet Styles
@media only screen and (min-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 24px 24px 0 64px;
  }

  .hero {
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 30px;
  }

  .desktop-image {
    max-width: 500px;
    width: 50%;
  }

  .mobile-image {
    display: none;
  }

  .hero--text-container {
    flex: 1;
    margin-top: 30px;
    padding: 0;
  }

  .hero--header {
    font-size: 3em;
    font-weight: 700;
    line-height: 100%;
    padding-left: 0;
    margin: 20px 0 10px 0;
  }

  .hero--text {
    margin: 24px 0;
    padding: 0;
    text-align: left;
  }

  .features-list-container {
    flex: 1;
    height: 200px;
    width: 50%;
    margin-top: -310px;
  }

  .feature--icon {
    margin-left: 0;
  }

  form {
    margin-left: 0;
  }

  label {
    margin: 25px 0 8px;
  }

  input {
    margin-bottom: 8px;
  }

  input,
  button {
    width: 100%;
    max-width: 300px;
  }

  button {
    margin-top: 10px;
  }

  .success--container {
    padding: 48px 64px 0 64px;
  }

  .success--header {
    font-size: 3.5em;
    line-height: 100%;
  }

  .success--message {
    margin-bottom: 40px;
  }

  .success--button {
    margin-top: 10px;
    width: 100%;
    max-width: 380px;
  }

  .input-field-container {
    position: relative;
  }

  .input-field.invalid-input {
    color: var(--coral-red);
    border: 1px solid var(--coral-red);
    background: rgba(255, 97, 85, 0.15);
  }

  .error-message {
    color: var(--coral-red);
    text-align: right;
    font-size: 12px;
    font-weight: 700;
    line-height: 150%;
    position: absolute;
    top: 0;
    right: 0;
    margin: -23px 4px 8px 8px;
  }
}

/* Large Desktop Styles
@media only screen and (min-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .main-container {
    padding: 24px 0;
  }

  .hero {
    gap: 60px;
  }

  .hero--text-container {
    padding: 0;
    margin-top: 50px;
  }

  .hero--header {
    font-size: 3.5em;
  }

  .features-list-container {
    margin-top: -425px;
  }

  label {
    margin-top: 41px;
  }

  input,
  button {
    width: 100%;
    max-width: 376px;
  }

  button {
    margin-top: 20px;
  }

  button:hover {
    background: linear-gradient(204deg, #ff6a3a 0%, #ff527b 100%);
    box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.5);
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .success--container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 35px;
    width: 70%;
  }

  .success--icon {
    display: flex;
    max-width: 64px;
  }

  .success--header,
  .success--message {
    margin: 0;
  }
} 
 */
